name: Tests
on: push

jobs:
  no_container:
    name: "On VM: ${{ matrix.platform }} Py${{ matrix.python }}"
    runs-on: ${{ matrix.platform }}-latest
    strategy:
      matrix:
        platform: [ubuntu, windows, macos]
        python: [2.7, 3.7]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - uses: ./.
      - name: Check rez installed
        run: rez --version

  in_container:
    name: "In CentOS 7: ${{ matrix.yum_python }}"
    runs-on: ubuntu-latest
    container:
      image: "centos:7"
    strategy:
      matrix:
        yum_python:
          - "python"  # Python 2.7
          - "python3" # Python 3.6

    steps:
      - run: yum install -y ${{ matrix.yum_python }}
      - uses: actions/checkout@v2
      # ---- WARNING: using actions/setup-python@v2 ----
      # It MAY conflict with container's on Python interpreter/glibc
      # e.g. for centos:7, which ships with it's own python2.7 and
      # in that case, don't use "actions/setup-python@v2" and just
      # let "j0yu/setup-rez" use the system's Python interpreter
      - uses: ./.
      - name: Check rez installed
        run: rez --version
      - name: Check rez python version is correct
        run: |
          set -x
          rez python -V | tee rez_python.txt
          ${{ matrix.yum_python }} -V | tee python.txt
          diff -y rez_python.txt python.txt
